/*CSS for the slotletters library*/

/*RESET CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*SLOTS CSS*/

html{
     -moz-box-shadow:    inset 0 0 100px #000000;
   -webkit-box-shadow: inset 0 0 100px #000000;
   box-shadow:         inset 0 0 100px #000000;
}

body{
    overflow: hidden;
    background-image: url("../img/background.png");
    margin: 0px;
    padding: 0px;
}

header{
    margin-top: 2%;
    background-image: url(../img/slot-machine/slot-machine-top_04.png);
    background-repeat: repeat-x;
}

footer{
    z-index: 1000;
    background-image: url("../img/slot-machine/slot-machine-bottom_02.gif");
    background-repeat: repeat-x;
}

header,footer{
    margin: auto;
    text-align: center;
    width: 62%;
    min-width: 655px;
}

header img{
    font-size: 0px;
}
.slot-container{
    min-width: 675px;
    margin: auto;
    width: 70%;
    text-align: center;
    box-sizing: border-box;
    border-width: 1px;
    background-image: url("../img/slot-container-background.jpg");
    -webkit-box-shadow: 0px 30px 40px 5px rgba(0,0,0,0.84)
    -moz-box-shadow: 0px 30px 40px 5px rgba(0,0,0,0.84)
    box-shadow: 0px 30px 40px 5px rgba(0,0,0,0.84)
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #602020 ;
    border-width: 4px;
}

.slot-row-container{
    box-sizing: border-box;
    border: solid;
    border-color: dimgray;
    border-width: 4px;
    background-color: dimgrey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow:         inset 0 0 15px #000000;
}

.slot img{
   width: 100%;
}

.slot .letter-anim{
   animation-name: slotLetter;
   animation-duration: 0.2s;
}

.slot{
    background: white;
    box-sizing: border-box;
    width: 150;
    height: 200;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.33);
    overflow: hidden;

}

@keyframes slotLetter {
    from {margin-top: -50px;}
    to {margin-top: 0px;}
}

.slot-table{
    position: relative;
    margin-top: -150px;
    height: 1000px;
    background: #262626;
    z-index: -1;
}

.header_1, .footer_1{
    margin-left: -3%;
    float: left;
}

.header_5, .footer_5{
     margin-right: -3%;
    float: right;
}

